@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Poppins:wght@100;200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

:root {
  --font: "Poppins", sans-serif;
  --primary-color: #ff7a4e;

  --grey-1: #f2f2f2;
  --grey-2: #bdbdbd;

  --text-xs: 0.75rem;
  --text-sm: 0.875rem;
  --text-md: 1rem;
  --text-med: 1.35rem;
  --text-lg: 1.5rem;

  --space-sm: 0.5rem;
  --space-md: 1rem;
  --space-lg: 2rem;
  --space-xl: 3rem;
  --space-xxl: 5rem;

  --rounded-sm: 8px;
  --rounded: 16px;

  --shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);

  --border-radius-md: 16px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  font-family: var(--font);
}

h2,
p {
  text-transform: capitalize;
}

h2 {
  font-weight: 500;
}

body,
header,
.heading,
.profile-stats,
.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body {
  margin: var(--space-sm) var(--space-md);
}

/* header */
header div {
  margin: var(--space-md) 0;
}

.profile-pic-container {
  max-width: 125px;
  max-height: 125px;
  object-fit: cover;
}

.profilepic {
  width: 100%;
  border-radius: var(--border-radius-md);
}

.heading {
  margin: 0;
}

.heading h2 {
  font-size: var(--text-med);
  margin: 0;
}

.heading p {
  font-size: var(--text-md);
  margin: 0 0 var(--space-sm);
  color: #888888;
}

.profile-stats {
  flex-direction: row;
  margin: 0;
}

.box {
  padding: var(--space-sm) var(--space-md);
  margin: auto var(--space-sm);
  background-color: #e2e2e2;
  border-radius: var(--border-radius-md);
  line-height: 22px;
}

.boxtext {
  margin: 0;
}

.box h2 {
  font-size: 1.15rem;
}

.box p {
  color: #888888;
}

/* gallery */
section {
  margin-top: var(--space-xl);
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap:12px;
  grid-row-gap: 12px; 
}

.pic1 { grid-area: 1 / 1 / 2 / 2; }
.pic2 { grid-area: 1 / 2 / 2 / 4; }
.pic3 { grid-area: 2 / 1 / 3 / 3; }
.pic4 { grid-area: 2 / 3 / 4 / 4; }
.pic5 { grid-area: 3 / 1 / 4 / 2; }
.pic6 { grid-area: 3 / 2 / 4 / 3; } 

section img {
  border-radius: var(--border-radius-md);
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* footer & media query */
footer p {
  margin-top: var(--space-lg);
  text-transform: none;
  color: #a5a5a5;
}

.name {
  text-decoration: underline;
  font-weight: bold;
}

@media (min-width: 720px) {
  body {
    margin-top: var(--space-lg);
  }
  /* header */
  header div {
    margin: var(--space-md) 0;
  }
  .profile-pic-container {
    max-width: 150px;
    max-height: 150px;
    object-fit: cover;
  }
  .profilepic {
    width: 100%;
    border-radius: var(--border-radius-md);
  }
  .heading h2 {
    font-size: var(--text-lg);
    margin: 0;
  }
  .heading p {
    margin-top: var(--space-xs);
  }
  .profile-stats {
    margin: var(--space-sm);
  }
  .box {
    padding: var(--space-sm) var(--space-md);
    margin: auto var(--space-sm);
    background-color: #e2e2e2;
    border-radius: var(--border-radius-md);
  }
  /* everything else */
  section {
    margin-top: var(xxl);
    gap: 24px;
    max-width: 800px;
  }
}